
#main #videoTagDiv #activitiesWrapper #activitySliderWrapper #activitySlider .activitySliderBox{
   border-bottom: none; 
}

#main #videoTagDiv #activitiesWrapper #activitySliderWrapper #activitySlider .activitySliderBox .desc {
    font-family: "SnoopyReg", Arial, Helvetica, sans-serif;
}

#main #videoTagDiv #activitiesWrapper #activitySliderWrapper #activitySlider .activitySliderBox p{
    font-family: "SnoopyReg", Arial, Helvetica, sans-serif;    
    height: 40px;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    line-clamp: 2;
}

#main #videoTagDiv #activitiesWrapper #activitySliderWrapper #activitySlider .activitySliderBox .desc{
    -webkit-line-clamp: 4;
    -moz-line-clamp: 4;
    -ms-line-clamp: 4;
    line-clamp: 4;
    max-height: 75px;
    transition: 1s all;
}

#main #videoTagDiv #activitiesWrapper #activitySliderWrapper #activitySlider .activitySliderBox:hover .desc{
    -webkit-line-clamp: initial;
    -moz-line-clamp: initial;
    -ms-line-clamp: initial;
    line-clamp: initial;
    max-height: 300px;
    transition: 1s all;
}

#main #videoTagDiv #activitiesWrapper #activitySliderWrapper #activitySlider{
    align-items: flex-start;
}

.game-question-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background: rgba(0.1,0.1,0.1,0.5);
    z-index: 2000;
}

.game-video-question{
    max-width: 90%;
    width: 400px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.game-question-modal p{
    max-width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative !important;
    top: 0;
    font-family: "SnoopyReg", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: .25s all;
}

.game-question-modal p:hover{
    top: -3px;
}

.game-question-modal .game-video-question p:last-child{
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
    position: relative;
}

