#anarita{
    padding: 0;
    background: #68D5E1;
}

#anarita #downloader{
    margin: auto;
    width: 80%;
    font-family: "SnoopyReg", Arial, Helvetica, sans-serif;
}

#anarita #downloader .arrowLeft, #anarita #downloader .arrowRight{
    filter: opacity(0.5) drop-shadow(0 0 0 green);
}

#anarita #downloader .pdfBoxes{
    background: rgb(234, 106, 91) !important;
    border-radius: 15px;
    box-shadow: none;
}

#anarita #downloader .pdfBoxes a{
    position: relative;
    top: 0;
    padding: 5px 20px;
    margin: 10px 0;
    color: #000 !important;
    text-decoration: none;
    background: #FFF;
    border-radius: 5px;
    box-shadow: #000 2px 2px 5px;
    transition: .25s all;
}

#anarita #downloader .pdfBoxes article .boxUpperTitle{
    margin: 0;
    font-size: 1.2rem;
    font-weight: 800;
}

#anarita #downloader .pdfBoxes a:hover{
    top: -5px;
    box-shadow: #000 5px 5px 5px;
}

#anarita #downloader #downloaderSlider .sliderContent{
    padding: 5px;
    margin-bottom: 10px;
}

#anarita .information{
    padding: 0;
    margin-right: 20px;
    background: #FFF;
}

#anarita .information-resources{
    background: #FFF;
}

#banner #overlay_back{
    max-width: initial;
}

#banner .parents-hero article {
    left: 0%;
    margin: auto;
    position: relative;
    top: 40%;
    text-align: center;
}

#banner .parents-hero .articleLink{
    margin: auto;
    transform: none;
    left: 0;
}

.bannerImg{
    background-position: top center;  
    max-width: initial; 
    top: 0; 
}

.generalWrapper h2{
    margin: 0;
    font-size: 5rem !important;
    line-height: 4rem !important;
    font-family: "SnoopyReg", Arial, Helvetica, sans-serif;
}

.information-resources .articles-links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.information-resources .articles-links a{
    max-width: 90%;
}

.information-resources .articles-links img{
    width: 800px;
    position: relative;
    top: 0;
    background: #64B6ED;
    border-radius: 10px;
    box-shadow: #000 2px 2px 5px;
    transition: .25s all;
}

.information-resources .articles-links img:hover{
    top: -5px;
    box-shadow: #000 5px 5px 5px;
}

.images-to-color{
    text-align: center;
}

.images-to-color .info h2{
    max-width: 90%;
    margin: auto;
    font-family: "SnoopyReg", Arial, Helvetica, sans-serif;
    font-size: 3rem;
    line-height: 2rem;
    color: #68D5E1;
}

.images-to-color .info p{
    max-width: 90%;
    margin: auto;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #000;
}

.sectionHeader{
    position: relative;
    z-index: 1000;
    background-color: rgb(234, 106, 91);
    height: auto;
    padding: 40px;
    line-height: 40px;
}

.sectionHeader h3{
    font-size: 2.5rem;
    font-family: "SnoopyReg", Arial, Helvetica, sans-serif;
}

.sectionHeader .btn {
    font-size: 1.5rem;
    font-weight: 800;
    color: #000;
    margin-left: 0;
    font-family: "SnoopyReg", Arial, Helvetica, sans-serif;
}

.sectionHeader .btn:hover {
    cursor: pointer;
    background: #EEE;
}

.visual-information{
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    text-align: center;
}

.visual-information .information{
    width: 300px;
    padding: 10px;
    padding-right: 30px;
    box-sizing: border-box;
}

.visual-information .information h3{ 
    font-size: 2rem;
    font-family: "SnoopyReg", Arial, Helvetica, sans-serif;
    color: #68D5E1;
}

.visual-information .infography .card{
    height: 100%;
    border-radius: 15px;
}

.visual-information .infography img{
    width: 210px;
    height: 250px;
    padding: 20px;
    box-sizing: border-box;
}

.videoblog{
    display: flex;
    flex-direction: column;
    max-width: 90%;
    font-family: "SnoopyReg", Arial, Helvetica, sans-serif;
    color: #FFF;
}

.videoblog .pretitle, .videoblog .postitle{
    font-size: 1.8rem;
    font-weight: 800;
}

.videoblog .pretitle{
    padding-top: 5px;
    padding-bottom: 15px;
    border-bottom: 2px solid #FFF;
}

.videoblog .text{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.videoblog .btn{
    width: fit-content;
    padding: 10px 30px;
    font-size: 1rem;
    margin: auto;
}

.videoblog #videoblog-frame{
    width: 450px;
    height: 250px;
    max-width: 100%;
}


@media (min-width: 576px) { 
    .bannerImg{
        top: 20px;
    }

    .information-resources .articles-links a{
        max-width: 70%;
    }
}

@media (min-width: 768px) { 
    .bannerImg{
        top: 30px;
    }

    .information-resources .articles-links a{
        max-width: 45%;
    }
}

@media (min-width: 992px) { 
    .information-resources .articles-links{
        flex-wrap: nowrap;
    }

    .visual-information{
        flex-wrap: nowrap;
        text-align: left;
    }

    .videoblog .btn{
        margin: 0;
    }
}

@media (min-width: 1200px) { 
    .bannerImg{
        top: 50px;
    }

    .information-resources .articles-links a{
        max-width: 30%;
    }
}