#videos.intern > article.internTopMsg{
    font-family: "SnoopyReg", Arial, Helvetica, sans-serif;
}

#info.intern .textAndImageTitle{
    font-size: 50px;
    font-family: "SnoopyReg", Arial, Helvetica, sans-serif;
}

#info.intern .textAndImg img{
    border-radius: 10px;
    box-shadow: black 5px 5px 5px;
}

#emotionHeader .imageDesc {
    background-image: url(../img/pisoton/FOTO_INFERIOR_INV_3.JPG);
    background-size: cover;
    background-position: center;
    flex-basis: 50% !important;
}

@media (max-width: 960px){
    #info.intern .textAndImageTitle {
        text-align: center;
    }
}